.dashboard-layout {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sidebar {
  width: 240px;
  /* background-color: var(--color-primary); */
  background: linear-gradient(
    180deg,
    rgb(90,172,78), 
    rgba(74, 144, 226, 0.9) 
  );
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.panel-title {
  border-bottom: 1px solid #ddd;
  color: white;
  padding-bottom: 2px;
  margin: 0 auto 16px auto
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  /* color: var(--color-success); */
  background-image: var(--gradient-primary);
}

.nav-link.active {
  /* background-color: var(--color-primaryHover); */
  background-image: var(--gradient-primary);
  font-weight: bold;
}

.nav-link .icon {
  margin-right: 10px;
  font-size: 18px;
}

.content {
  color: black;
  flex: 1;
  padding: 12px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.logout-container {
  text-align: center;
  margin-top: auto;
  padding-top: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  margin: 10px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.user-role {
  font-size: 12px;
  color: #ddd;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.app-logo {
  margin-right: 10px;
  max-width: 120px;
  height: auto;
}

.emergency-contact-card {
  background-color: #fff;
  color: #000;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.emergency-contact-card h4 {
  text-align: center;
  margin: 0 0 6px 0;
  font-size: 16px;
  color: var(--color-success);
}
.sidebar-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submenu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu-arrow {
  font-size: 10px;
  margin-left: auto;
}

.submenu-items {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.sub-link {
  font-size: 14px;
  margin: 4px 0;
}

/* Responsive improvements */
@media (max-width: 768px) {
  .dashboard-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }

  .nav-link {
    margin: 5px;
    flex: 1 1 40%;
    justify-content: center;
  }

  .content {
    padding: 15px;
  }
}
